 <div class="home-page">

<!--   <uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" heading="Static Header, initially expanded" is-open="status.isFirstOpen"
      is-disabled="status.isFirstDisabled">
      This content is straight in the template.
    </div>
  </uib-accordion> -->

  
  
  <!-- Splash banner that only shows when not logged in -->
  <div class="banner" show-authed="false">
    <div class="container">
      <h1 class="logo-font" ng-bind="::$ctrl.appName | lowercase"></h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>
  <div style="width:100%; height: 900px; " map-lazy-load="https://maps.google.com/maps/api/js">
    <ng-map center="[38.8100743, -0.6066551]" style="width:100%; height: 100%; " zoom="15">
      <marker no-watcher="true" title="prueba" position="[38.8100743, -0.6066551]">
      </marker>
    </ng-map>
    <!-- <ng-map  center="[40.74, -74.18]" style="width:100%; height: 100%; " zoom="15"></ng-map> -->
  </div>


  <div class="divmio">divmio
    <md-button class="md-fab" aria-label="Eat cake">
      fvdsgd
    </md-button>
  </div>
  <div class="row">
      <div style="background-color: aquamarine" class="col-md-3 divmio" >divmio</div>
      <div class="col-md-3 divmio" style="background-color:blue;">divmio2</div>
      <div class="col-md-6 divmio" style="background-color:yellow;">divmio3</div>
  </div>



  
  <div class="container page">
    <div class="row">


      <!-- Main view - contains tabs & article list -->
      <div class="col-md-9">
        <!-- Tabs for toggling between feed, article lists -->
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">

            <li class="nav-item" show-authed="true">
              <a href="" class="nav-link"
                ng-class="{ active: $ctrl.listConfig.type === 'feed' }"
                ng-click="$ctrl.changeList({ type: 'feed' })">
                Your Feed
              </a>
            </li>

            <li class="nav-item">
              <a href="" class="nav-link"
                ng-class="{ active: $ctrl.listConfig.type === 'all' && !$ctrl.listConfig.filters }"
                ng-click="$ctrl.changeList({ type: 'all' })">
                Global Feed
              </a>
            </li>

            <li class="nav-item" ng-show="$ctrl.listConfig.filters.tag">
              <a href="" class="nav-link active">
                <i class="ion-pound"></i> {{$ctrl.listConfig.filters.tag}}
              </a>
            </li>

          </ul>
        </div>

        <!-- List the current articles -->
        <article-list limit="10" list-config="$ctrl.listConfig"></article-list>

      </div>

      <!-- Sidebar where popular tags are listed -->
      <div class="col-md-3">
        <div class="sidebar">

          <p>Popular Tags</p>

          <div class="tag-list" ng-show="$ctrl.tags">
            <a href="" class="tag-default tag-pill"
              ng-click="$ctrl.changeList({ type: 'all', filters: { tag: tagName } })"
              ng-repeat="tagName in $ctrl.tags"
              ng-bind="tagName">
            </a>
          </div>

          <div ng-show="!$ctrl.tagsLoaded">
            Loading tags...
          </div>

          <div class="post-preview"
            ng-show="$ctrl.tagsLoaded && !$ctrl.tags.length">
            No tags are here... yet.
          </div>

        </div>
      </div>

      <!-- End the row & container divs -->
    </div>
  </div>

</div>
