<footer id="footer">
  <div >
    <div class="gloriaGrid">
  
      <div class="elem1">
        <div class="elemsTitle">
          <p>GRUTINET S.L.</p>
        </div>
        <div>
          <div>Cognitive Brain</div>
          <div>C/ islas canarias 6,</div>
          <div>46870 Ontinyent, Valencia, España.</div>
          <div>cognitivebrain@info.com</div>
          <div>+34 960 00 00 00</div>
        </div>
      </div>
  
      <div class="elem2">
        <div>
          <p>Apuntate a nuestra newsletter para estar siempre al día.</p>
        </div>
        <div class="gloriaTitle">
          <input id="inpEmail" type="email" placegolder="Tu email"></input>
          <button type="button" class="btnColor">SUSCRIBETE</button>
        </div>
      </div>
  
      <div class="elem3">
        <div class="elemsTitle">
          <p>MISIÓN</p>
        </div>
        <div> Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae velit aliquid expedita dolorem pariatur amet nemo dicta, repudiandae totam, inventore natus, quos sed repellat quo ipsa et nostrum magni delectus</div>
      </div>
  
    </div>
  </div>

</footer>
