
<header class="header" >
  <a ui-sref="app.home" class="logo" style="color:#EA5047">Cognitive Brain</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    
    <li class="nav-item">
      <a class="nav-link" ui-sref-active="active" ui-sref="app.home">Home</a>
    </li>
   
    <li class="nav-item">
      <a class="nav-link" ui-sref-active="active" ui-sref="app.contact">Contact</a>
    </li>

    <li show-authed="true" class="nav-item">
      <a class="nav-link" ui-sref-active="active" ui-sref="app.user_chat">Chat</a>
    </li>

    <li show-authed="false" class="nav-item">
      <a class="nav-link" ui-sref-active="active" ui-sref="app.login">Sing in</a>
    </li>

    <li show-authed="false" class="nav-item">
      <a class="nav-link" ui-sref-active="active" ui-sref="app.register">Sing up</a>
    </li>

    <li show-authed="true" class="nav-item" ng-if="$ctrl.user.type==1 || $ctrl.user.type_user==1">
      <a class="nav-link" ui-sref-active="active" ui-sref="app.admin">Administracion</a>
    </li>

    <li show-authed="true" class="nav-item">
      <a style="cursor: pointer" ng-click="$ctrl.logout()" >Log out</a>
    </li>
    
    <li show-authed="true" class="nav-item">
      <a style="padding: 0px;" ui-sref="app.profile_user">
        <img ng-src="{{$ctrl.user.media}}" style="height: 60px; padding:4px 30px 4px 30px;" alt="">
      </a>
    </li>
    
<!-- 
    <li class="nav-item">
      <a class="nav-link" ui-sref-active="active" ui-sref="app.listDetails">ListDetails</a>
    </li> -->

  </ul>
</header>
