<My-Hero info="$ctrl.hero"></My-Hero>

<section class="containerContact"> 
    <h4>Escribe su consulta {{$ctrl.datosUser.name}}</h4>
        
    <form id="contact_form" name="contact_form" class="form-contact" ng-submit="vm.SubmitContact()">
        <input class="inputs" required ng-model="vm.inputName" type="text" id="inputName" name="inputName" placeholder="Your name" class="" dir="auto" maxlength="100">    
        <span class="text-danger" ng-show="contact_form.inputName.$error.required && (contact_form.inputName.$dirty || contact_form.inputName.$touched)">The name is required</span>
        <br>
        <input class="inputs" required ng-model="vm.inputEmail" type="email" id="inputEmail" name="inputEmail" placeholder="Your email" class="" maxlength="100" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i"> 
        <span class="text-danger" ng-show="contact_form.inputEmail.$error.required && (contact_form.inputEmail.$dirty || contact_form.inputEmail.$touched)">The email is required</span>
        <span class="text-danger" ng-show="contact_form.inputEmail.$error.email">The email is not valid</span>
        <br>
            
        <select  ng-model="vm.inputSubject" class="form-control" id="inputSubject" name="inputSubject" title="Choose subject">
            <option value="">Select subject</option>
            <option value="order">SEL_ORDER</option>
            <option value="programming_dept">SEL_PROG_DEPT</option>
        </select>
                
        <br>   
        <textarea required ng-model="vm.inputMessage" class="input-block-level" rows="4" id="inputMessage" name="inputMessage" placeholder="Your comment here..." style="max-width: 100%;" dir="auto"></textarea>
        <br>
        <span class="text-danger" ng-show="contact_form.inputMessage.$error.required && (contact_form.inputMessage.$dirty || contact_form.inputMessage.$touched)">The comment is required</span>
        <input class="btnContact" type="submit" class="btn btn-primary" name="submit" id="submitBtn" value="Enviar consulta" ng-show="contact_form.inputName.$valid && contact_form.inputEmail.$valid && contact_form.inputMessage.$valid" ng-click="SubmitContact()" />
            
        <div id="resultMessageOk" class="msg_ok">{{vm.resultMessageOk}}</div>
        <div id="resultMessageFail" class="msg_error">{{vm.resultMessageFail}}</div>
    </form>

</section>

<div map-lazy-load="https://maps.google.com/maps/api/js">
    <ng-map center="[38.8100743, -0.6066551]" style="width: 100%;" zoom="15">
    <marker no-watcher="true" title="prueba" position="[38.8100743, -0.6066551]"></marker>
    </ng-map>
    <!-- <ng-map  center="[40.74, -74.18]" style="width:100%; height: 100%; " zoom="15"></ng-map> -->
</div>
