:root{
  /* 
  Typography
   * ======================================================================== */
    --font-family: 'Rubik', Helvetica, Arial, sans-serif;

  /*
   * Media queries breakpoints
   * ======================================================================== */

    --sc-xs-min: 480px;  /* Extra small screen / phone */
    --sc-sm-min: 768px;  /* Small screen / tablet */
    --sc-md-min: 992px;  /* Medium screen / desktop */
    --sc-lg-min: 1200px; /* Large screen / wide desktop */


 /*
  * Colors
  * ======================================================================== */
    --bgColorBody:#F9F9F9;
    --texColor:#888888;
    --gris-claro: #f9f9f9;  
    --titleColor:#363949;
    --white:#FFFFFF;

    --red: #e62c3d;
    --yell: #f9c468;
    --oran:#ef7752;


  /*
  * Sizes
  * ======================================================================== */
    --generalWidth:1000px;
    --iconSize:85px;
    --fontSizeTitle:3.5rem;
    --fontSizeSubtitle: 2.5rem;
    --fontSizeText:1.5rem;
    --slimLetters:100;

}
body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--bgColorBody);
}

a {
  color: #000;
}
